<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление факультета</title>
</head>
<body>
<h1>Добавление факультета</h1>

<form th:method="POST" th:action="@{/faculties}" th:object="${faculty}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="${faculty.setName()}" id="name"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>