<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directions</title>
</head>
<body>
<h1>Directions</h1>
<ul>
    <li th:each="direction : ${directions}">
        <a th:href="@{/directions/{id}/students(id=${direction.id})}" th:text="${direction.name}"></a>
    </li>
</ul>
<form method="post" th:action="@{/faculties/{facultyId}/directions(facultyId=${facultyId})}"
      th:object="${directionDTO}">
    <label for="name">Direction Name:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Add Direction</button>
</form>
</body>
</html>