<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Факультеты</title>
</head>
<body>
<h1>Список факультетов</h1>
<div th:each="faculty : ${faculties}">
    <a th:href="@{/faculties/{id}/profiles(id=${faculty.getId()})}"
       th:text="${faculty.getName()}">faculty</a>
</div>
<a href="/faculties/addFaculty">Добавить новый факультет</a>
<br/>
</body>
</html>