<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>New profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Добавить профиль</h1>
<form action="#" th:action="@{/profiles/add}" th:object="${profileDTO}" method="post">
    <p>Name: <input type="text" th:field="*{name}"/></p>
    <p>Faculty id: <input type="number" th:field="*{facultyId}"/></p>
    <p>Department id: <input type="number" th:field="*{departmentId}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>