<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Студенты</title>
</head>
<body>
<h1>Список студентов</h1>
<a href="/students/add">Добавить нового студента</a>
<br/>
<!--<label for="id">Введите id студента, которого хотите обновить: </label>-->
<!--<input type="text" th:field="*{id}" id="id"/>-->
<!--<br/>-->
<!--<form th:action="@{/students/update}">-->
<!--    <input type="submit" value="Обновить этого студента" />-->
<!--</form>-->
<div th:switch="${students}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Номер студенческого</th>
                <th>Курс</th>
                <th>Группа</th>
                <th>Направление</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.getName()}"></td>
                <td th:text="${student.getSurname()}"></td>
                <td th:text="${student.getStudentid_num()}"></td>
                <td th:text="${student.getCourse()}"></td>
                <td th:text="${student.getGroup_num()}"></td>
                <td th:text="${student.getProfile().getName()}"></td>
                <td><a th:href="@{|/students/delete/${student.getId()}|}">Delete</a></td>
                <td><a th:href="@{/students/update/{id}(id=${student.getId()})}">Update</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>